<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>
    <header th:replace="layouts/layout :: header"></header>

    <div th:replace="layouts/layout :: title"></div>

    <div class="container card main py-4 my-3">
        <div class="card-header bg-white">
            <a th:href="@{/create}" class="btn btn-primary">New Client</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client: ${clients}">
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.name + ' ' + client.lastname}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.createdAt}"></td>
                    <td>
                        <a class="btn btn-xs btn-primary" th:href="@{/update/{id}(id=${client.id})}" th:text="Edit"></a>
                        <a class="btn btn-xs btn-danger" th:href="@{/delete/{id}(id=${client.id})}" th:text="Delete" onclick="return confirm('Are you sure delete this client?');"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="layouts/layout :: footer"></footer>
</body>
</html>